{
  "admin_ui.https.ip_address": "all",
  "admin_ui.https.port": "943",
  "auth.ldap.0.name": "My LDAP servers",
  "auth.ldap.0.ssl_verify": "internal",
  "auth.ldap.0.timeout": "4",
  "auth.ldap.0.use_ssl": "never",
  "auth.ldap.0.user_exists_check": "true",
  "auth.module.type": "local",
  "auth.pam.0.service": "openvpnas",
  "auth.radius.0.acct_enable": "false",
  "auth.radius.0.name": "My Radius servers",
  "cs.cws_proto_v2": "true",
  "cs.https.ip_address": "all",
  "cs.https.port": "943",
  "cs.prof_sign_web": "true",
  "cs.tls_version_min": "1.2",
  "host.name": "{{ vm_name }}",
  "sa.compression_warning_shown": "displayed",
  "sa.initial_run_groups.0": "web_group",
  "sa.initial_run_groups.1": "openvpn_group",
  "vpn.client.basic": "false",
  "vpn.client.cipher": "AES-256-CBC",
  "vpn.client.routing.inter_client": "false",
  "vpn.client.routing.reroute_dns": "true",
  "vpn.client.routing.reroute_gw": "false",
  "vpn.daemon.0.client.netmask_bits": "{{ vpn_configuration.client_network.bits }}",
  "vpn.daemon.0.client.network": "{{ vpn_configuration.client_network.address }}",
  "vpn.daemon.0.listen.ip_address": "all",
  "vpn.daemon.0.listen.port": "443",
  "vpn.daemon.0.listen.protocol": "tcp",
  "vpn.daemon.0.server.ip_address": "all",
  "vpn.general.osi_layer": "3",
  "vpn.server.cipher": "AES-256-CBC",
  "vpn.server.daemon.enable": "true",
  "vpn.server.daemon.tcp.n_daemons": "1",
  "vpn.server.daemon.tcp.port": "443",
  "vpn.server.daemon.udp.n_daemons": "1",
  "vpn.server.daemon.udp.port": "1194",
  "vpn.server.dhcp_option.dns.0": "{{ vpn_configuration.dns.address }}",
  "vpn.server.duplicate_cn": "true", 
  "vpn.server.foreign_bridge": "",
  "vpn.server.group_pool.0": "{{ vpn_configuration.client_network.address }}/{{ vpn_configuration.client_network.bits }}",
  "vpn.server.port_share.enable": "true",
  "vpn.server.port_share.ip_address": "1.2.3.4",
  "vpn.server.port_share.port": "1234",
  "vpn.server.port_share.service": "admin+client",
  "vpn.server.routing.allow_private_nets_to_clients": "true",
  "vpn.server.routing.gateway_access": "true", 
  "vpn.server.routing.private_access": "nat",
  "vpn.server.routing.private_network.0": "{{ vpn_configuration.virtual_network.address }}",
  "vpn.server.tls_cc_security": "tls-crypt",
  "vpn.server.tls_version_min": "1.2"
}